:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_header__Q2YYb {
    display: flex;
    flex-direction: column;
    background: #f7f8fc;
    padding: 6rem 0 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_filter__YykGZ {
    margin-bottom: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_label__mFq5g {
    font-size: 15px !important;
    text-transform: none !important;
    letter-spacing: inherit !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_label__mFq5g {
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #242a45;
    opacity: .7;
    padding-left: 2rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_icon__Wi4Aq {
    padding: 0 0 4px !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_autocomplete__-HTqR {
    width: 100%
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_input-wrapper__nUP12 {
    border: none !important;
    border-radius: initial !important;
    background: #f7f8fc !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_input-wrapper__nUP12 {
    padding-left: 2rem;
    display: flex;
    align-items: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_input__3hk1G {
    width: 100%
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_menu-wrapper__L5u0h {
    border: none !important;
    border-radius: initial !important;
    box-shadow: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_menu-wrapper__L5u0h {
    font-size: 16px;
    font-weight: 300
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_menu__XGy-X {
    position: relative !important;
    border: none !important;
    border-radius: initial !important;
    box-shadow: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_menu-list__b5laa {
    max-height: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_menu-item__i77F2 {
    padding-left: 3rem !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_menu-item-header__ayIgx {
    padding-left: 2rem !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help__Zw7Z8 {
    width: 100%;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 0 0 25px 25px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help__Zw7Z8 {
        border-radius: 0;
        margin-top: 0
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--title__EaWd6 {
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #293f94
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--links__Oboo8 {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--links__Oboo8 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--links__Oboo8 li {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 16px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--links__Oboo8 li a {
    color: #112053;
    display: flex;
    align-items: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--links__Oboo8 li a span {
    margin: 0 1rem
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .SearchMenu_also-help--links__Oboo8 li a span {
        margin: 0 1rem 0 .5rem
    }
}

/*# sourceMappingURL=4214.db0a2154.chunk.css.map*/