:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons__tuoox {
    display: flex
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons__tuoox .MainMenu_user-divider__agrbz {
    background-color: #414da1;
    width: 1px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons__tuoox .MainMenu_user-button__\+SCgj {
    border-radius: 90px;
    padding: 10px 0;
    color: #fff;
    background-color: #4062bb;
    flex: 1 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons__tuoox .MainMenu_user-button__\+SCgj:hover {
    color: #fff;
    text-decoration: underline
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons__tuoox .MainMenu_user-button__\+SCgj:nth-child(1) {
    border-top-right-radius: initial;
    border-bottom-right-radius: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons__tuoox .MainMenu_user-button__\+SCgj:nth-child(3) {
    border-top-left-radius: initial;
    border-bottom-left-radius: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_user-buttons-placeholder__MiAv9 {
    padding: 1rem 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl {
    padding: 5rem 4rem 2rem
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl {
        padding: 5rem 2rem 2rem
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl.MainMenu_primary-menu__SWIl\+ {
    background: #fff;
    flex: 1 1
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl.MainMenu_primary-menu__SWIl\+ {
        padding: 5rem 1rem 1rem
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl.MainMenu_secondary-menu__Exyb2 {
    background: #112053
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl.MainMenu_secondary-menu__Exyb2 {
        padding: 0 1rem 2rem
    }
}

@media(min-width: 768px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_menu__rYnRl.MainMenu_secondary-menu__Exyb2 {
        width: 500px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_header__EP8\+t {
    display: flex;
    box-shadow: 0 6.53888px 26.1555px rgba(25, 36, 67, .15)
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_header__EP8\+t {
        flex-direction: column
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_logo__cDbdP {
    width: 160px
}

@media(max-height: 550px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_content__gCnzX {
        display: flex
    }
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_nav-list__UKUGe {
        margin-top: -19px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_buttons__8NcbG {
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_buttons__8NcbG :not(:last-child) {
    margin-right: 24px
}

@media(max-height: 800px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_buttons__8NcbG :not(:last-child) {
        margin-right: 12px
    }
}

@media(max-height: 800px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_buttons__8NcbG {
        margin-bottom: 1rem
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_feedback__o4nch {
    font-weight: 600;
    font-size: 14px;
    margin-top: 3rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_feedback__o4nch :not(:last-child) {
    margin-bottom: .75rem
}

@media(max-height: 800px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_feedback__o4nch {
        margin-top: 1rem
    }
}

@media(max-height: 550px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_feedback__o4nch {
        flex: 0 1 50%;
        margin-top: 0
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u {
    text-align: left
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul li {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 20px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul li {
        margin-bottom: 1rem
    }
}

@media(max-width: 575.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul li {
        font-size: 14px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul li a {
    color: #112053;
    display: flex;
    align-items: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul li a span {
    margin: 0 1rem
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_primary-nav__tn77u ul li a span {
        margin: 0 1rem 0 .5rem
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_secondary-nav__QY7sZ {
    text-align: left
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_secondary-nav__QY7sZ ul {
    list-style: none;
    padding: 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_secondary-nav__QY7sZ ul li {
    font-weight: 300;
    font-size: 20px;
    padding: 10px 0;
    letter-spacing: 1px;
    margin-top: .5rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_secondary-nav__QY7sZ ul li span {
    margin-left: 1rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_secondary-nav__QY7sZ ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_secondary-nav__QY7sZ ul li a:hover {
    text-decoration: underline
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_tertiary-nav__-XlvX {
    text-align: left
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_tertiary-nav__-XlvX ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    list-style: none;
    padding: 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_tertiary-nav__-XlvX ul li {
    font-weight: 600;
    font-size: 10px;
    padding: 10px 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_tertiary-nav__-XlvX ul li a {
    padding-left: 1rem;
    color: #fff;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    text-transform: uppercase
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .MainMenu_tertiary-nav__-XlvX ul li a:hover {
    text-decoration: underline
}

/*# sourceMappingURL=4668.cb8d4b3f.chunk.css.map*/