:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_page-splash__260UL {
    background: #fff
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 {
    margin-top: 2rem;
    flex: 1 1;
    position: relative;
    min-height: 50vh;
    padding: 3rem 3.8125rem
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 {
        min-height: 0;
        padding: 1.5rem 1.875rem
    }
}

@media(max-width: 575.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 {
        padding: 1.5rem 1rem
    }
}

@media(max-width: 1060px),
(max-height: 700px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 {
        margin: 0
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q {
    position: relative;
    align-items: flex-start;
    padding: 1rem 0 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_icon-section__j9Ctn {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-end;
    min-width: 128px
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_icon-section__j9Ctn {
        flex-direction: row;
        justify-content: center
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U {
    margin-left: 75px;
    font-size: 16px;
    align-items: flex-start
}

@media(max-width: 1199.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U {
        margin-left: 6px
    }
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U {
        font-size: 12px;
        order: 2;
        margin-left: initial;
        margin-top: initial;
        padding-top: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center
    }
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U {
        font-size: 10px;
        margin-left: 0
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1 {
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 35px
}

@media(max-height: 800px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1 {
        margin-bottom: 10px
    }
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1 {
        font-size: 38px
    }
}

@media(max-width: 575.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1 {
        font-size: 30px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-1__eo8YO {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-1__eo8YO {
    background: linear-gradient(225deg, #d14664 0%, #e94156 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-2__9mJGE {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-2__9mJGE {
    background: linear-gradient(225deg, #b94b72 0%, #d14664 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-3__bUmTb {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-3__bUmTb {
    background: linear-gradient(225deg, #835692 0%, #a54f7e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-4__4-ovL {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-4__4-ovL {
    background: linear-gradient(225deg, #715a9c 0%, #89558e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-5__vjus\+ {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-5__vjus\+ {
    background: linear-gradient(225deg, #595faa 0%, #715a9c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-6__jxwAx {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_title__5EOR1.Splash_gradient-6__jxwAx {
    background: linear-gradient(225deg, #4062bb 0%, #595faa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_subtitle-description-top__Zpw4i {
        display: none
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_subtitle-description-bottom__bPovi.Splash_hide__cGzd2 {
    display: none
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_subtitle-description-bottom__bPovi .Splash_subtitle__Zwxjl {
    margin-top: 20px
}

@media(min-width: 768px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_subtitle-description-bottom__bPovi {
        display: none
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_subtitle__Zwxjl {
    font-weight: 600;
    font-size: 1.375rem;
    color: #242a45;
    margin-bottom: 7px
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_subtitle__Zwxjl {
        text-align: center
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_description__fPso3 {
    font-size: 1rem;
    color: rgba(36, 42, 69, .6);
    margin-bottom: 70px;
    max-width: 512px
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_title-section__9Eg7U .Splash_description__fPso3 {
        text-align: center;
        margin-bottom: 36px
    }
}

@media(max-height: 700px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_image-section__pdv5L {
        display: none
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_image-section__pdv5L img {
    max-width: 500px;
    min-width: 160px;
    width: 25vw;
    height: auto
}

@media(max-width: 1060px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_image-section__pdv5L img {
        max-height: 25vh
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_title__5EOR1 {
    font-weight: 600;
    font-size: 18px;
    width: 208px;
    display: flex;
    align-items: center;
    color: rgba(36, 42, 69, .9);
    margin-bottom: 48px;
    margin-top: 6px
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_title__5EOR1 {
        width: 239px
    }
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO {
    padding-left: 0;
    list-style: none
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO li {
    display: flex;
    align-content: center;
    align-items: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO li:not(:last-child) {
    margin-bottom: 23px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_pin__KK3sP {
    width: 11px;
    height: 13px;
    margin-right: 25px;
    display: flex
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp {
    border-radius: 12.5px;
    width: 11px;
    height: 11px;
    margin-right: 25px;
    box-shadow: 0 50px 40px rgba(0, 0, 0, .07), 0 20.8888px 16.711px rgba(0, 0, 0, .0503), 0 11.1682px 8.93452px rgba(0, 0, 0, .0417), 0 6.26078px 5.00862px rgba(0, 0, 0, .035), 0 3.32505px 2.66004px rgba(0, 0, 0, .0283), 0 1.38363px 1.1069px rgba(0, 0, 0, .0197);
    position: relative;
    bottom: 1px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp.Splash_gradient-1__eo8YO {
    background: linear-gradient(225deg, #d14664 0%, #e94156 100%)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp.Splash_gradient-2__9mJGE {
    background: linear-gradient(225deg, #b94b72 0%, #d14664 100%)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp.Splash_gradient-3__bUmTb {
    background: linear-gradient(225deg, #835692 0%, #a54f7e 100%)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp.Splash_gradient-4__4-ovL {
    background: linear-gradient(225deg, #715a9c 0%, #89558e 100%)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp.Splash_gradient-5__vjus\+ {
    background: linear-gradient(225deg, #595faa 0%, #715a9c 100%)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_dot__0j5gp.Splash_gradient-6__jxwAx {
    background: linear-gradient(225deg, #4062bb 0%, #595faa 100%)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX {
    text-transform: uppercase !important;
    color: #3a3f58 !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX {
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: .5
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX :hover {
    text-decoration: none;
    color: inherit
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-1__eo8YO {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-1__eo8YO {
    background: linear-gradient(225deg, #d14664 0%, #e94156 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-2__9mJGE {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-2__9mJGE {
    background: linear-gradient(225deg, #b94b72 0%, #d14664 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-3__bUmTb {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-3__bUmTb {
    background: linear-gradient(225deg, #835692 0%, #a54f7e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-4__4-ovL {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-4__4-ovL {
    background: linear-gradient(225deg, #715a9c 0%, #89558e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-5__vjus\+ {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-5__vjus\+ {
    background: linear-gradient(225deg, #595faa 0%, #715a9c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-6__jxwAx {
    opacity: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_splash-landing__xCi4Q .Splash_legend-section__l1jSs .Splash_list__Gc3DO .Splash_text__CVjMX.Splash_gradient-6__jxwAx {
    background: linear-gradient(225deg, #4062bb 0%, #595faa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_blurb__uylbe {
    text-align: center;
    justify-content: center;
    padding: 68px 0 72px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_blurb__uylbe .Splash_blurb-title__Qi4d9 {
    font-weight: 600;
    font-size: 22px;
    color: #242a45;
    margin-bottom: 30px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_blurb__uylbe .Splash_blurb-body__btpIy {
    font-size: 16px;
    color: rgba(36, 42, 69, .6)
}

@media(min-width: 1200px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash__64B01 .Splash_blurb__uylbe .Splash_blurb-body__btpIy {
        width: 65%;
        margin-left: auto;
        margin-right: auto
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_title__5EOR1 {
    font-weight: bold;
    font-size: 24px;
    color: #242a45
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_title__5EOR1 {
        font-size: 15px
    }
}

@media(max-width: 575.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_title__5EOR1 {
        font-size: 15px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .progress {
    height: 4px;
    border-radius: 4px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_how-it-works-button__fLxlH {
    color: #4062bb;
    background: #ebedff;
    outline: none;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 20px;
    height: 35px;
    white-space: nowrap
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_how-it-works-button__fLxlH :first-child {
    margin-right: 10px;
    margin-bottom: 1px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_jump-to-results-button__ydpsF {
    color: #fff;
    background: #4062bb;
    outline: none;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 20px;
    height: 35px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_jump-to-results-button__ydpsF :first-child {
    margin-left: 10px;
    margin-bottom: 1px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_steps__-ZtK4 {
    display: flex;
    margin-right: -15px;
    margin-left: -15px
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_steps__-ZtK4 {
        margin: 0;
        display: none;
        flex-direction: column
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_steps--show__EYAnH {
    display: flex !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_active-step__\+I-nq {
    display: none;
    font-weight: bold;
    font-size: 18px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(218, 218, 218, .6274509804)
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_active-step__\+I-nq {
        display: flex
    }
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_active-step__\+I-nq {
        height: 50px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step__5uWO1 {
    min-height: 93px;
    padding: 1rem 2rem;
    position: relative;
    flex: 1 1
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step__5uWO1:not(:last-child) {
    border-right: 1px solid rgba(218, 218, 218, .6274509804)
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step__5uWO1 {
        border-right: initial !important
    }
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step__5uWO1 {
        padding: 1rem;
        border-bottom: 1px solid rgba(218, 218, 218, .6274509804)
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step--title__qDId5 {
    font-weight: bold;
    font-size: 14px;
    color: rgba(36, 42, 69, .8);
    padding-right: 30px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step--edit__n0QJO {
    font-weight: 600;
    font-size: 13px;
    color: #242a45;
    opacity: .5;
    position: absolute;
    right: 2rem;
    top: 1rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--stepper__Ym21p .Splash_step--value__pOX2a {
    font-weight: 300;
    font-size: 22px;
    padding-top: 10px;
    color: rgba(36, 42, 69, .6)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_content-row__QaCEi {
    justify-content: center;
    flex-wrap: nowrap
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_content-row__QaCEi {
        flex-wrap: wrap;
        justify-content: space-between
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_back-button-col__ushEj {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    min-width: 110px;
    height: 370px;
    padding: 0;
    flex: 0 1
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_back-button-col__ushEj {
        order: 2;
        height: initial;
        margin-bottom: 55px;
        margin-left: 35px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_back-button__m-YR2 {
    background: #ebedff;
    mix-blend-mode: normal;
    border-radius: 90px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    color: #4062bb;
    min-width: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_back-button__m-YR2>svg {
    position: relative;
    bottom: 2px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_content-col__5igDK {
        flex-basis: 100% !important
    }
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_content-col__5igDK {
        order: 1
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_next-button-col__WD96Q {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    min-width: 110px;
    height: 370px;
    padding: 0;
    flex: 0 1
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_next-button-col__WD96Q {
        order: 3;
        height: initial;
        margin-bottom: 55px;
        margin-right: 35px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_back-to-results-button__4Sus5 {
    background: #4062bb;
    mix-blend-mode: normal;
    border-radius: 90px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    white-space: nowrap;
    cursor: pointer;
    min-width: initial;
    margin-top: 20px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_back-to-results-button__4Sus5 :last-child {
    position: relative;
    bottom: 2px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_next-button__xny6c {
    background: #e94156;
    mix-blend-mode: normal;
    border-radius: 90px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    min-width: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_next-button__xny6c :last-child {
    position: relative;
    bottom: 2px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--content__xXGvP .Splash_error__\+Szwe {
    font-size: 16px;
    color: #e31818;
    opacity: .7;
    height: 0;
    max-width: 210px;
    text-align: center;
    width: 210px;
    padding: 0 10px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_icon__aOskx {
    margin-top: 64px
}

@media(max-height: 800px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_icon__aOskx {
        margin-top: 20px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_btn__4IIwe {
    font-weight: 600;
    font-size: 24px;
    color: #4062bb;
    background: #ebedff;
    border: 2px solid #4062bb;
    box-sizing: border-box;
    border-radius: 97px;
    text-align: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_btn__4IIwe.Splash_selected__b2kWD {
    background: #d6dcf1
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_title__5EOR1 {
    font-weight: bold;
    font-size: 43px;
    color: rgba(36, 42, 69, .8);
    margin: 36px 0;
    max-width: 600px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_title__5EOR1 {
        font-size: 32px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb {
    color: #4062bb;
    outline: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb .Splash_input__WSS0q {
    font-size: 24px !important;
    text-align: center !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb .Splash_input__WSS0q {
    height: 65px;
    border-radius: 35px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb .Splash_input__WSS0q {
        font-size: 20px !important
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb .Splash_menu__N857\+ {
    border-radius: 35px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb .Splash_menu-ul__YvDOu.Splash_open__TSMCx {
    margin-bottom: 35px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_wrapper__8XgMb {
        width: 310px;
        font-size: 16px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_years__xngZw {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 51px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_years__xngZw .Splash_number__jn3Xq {
    font-weight: 300;
    font-size: 70px;
    color: rgba(36, 42, 69, .53);
    border: initial;
    background-color: inherit;
    width: 2em;
    outline: initial;
    text-align: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_years__xngZw .Splash_number__jn3Xq::-webkit-input-placeholder {
    color: rgba(36, 42, 69, .3)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_years__xngZw .Splash_number__jn3Xq::placeholder {
    color: rgba(36, 42, 69, .3)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_years__xngZw ::-webkit-inner-spin-button,
:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_years__xngZw ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-appearance: textfield;
    appearance: textfield;
    margin: 0
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_sex__hmzXI {
    margin-bottom: 50px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_sex__hmzXI>* {
    margin: 12px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_pregnant__swfwv {
    margin-bottom: 50px;
    display: flex
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_pregnant__swfwv {
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_pregnant__swfwv>* {
    margin: 12px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_location__\+okW8 {
    margin-bottom: 50px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_select__0T9K4 {
    min-width: 200px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_autocomplete__JQnIy {
    min-width: 500px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_autocomplete__JQnIy {
        min-width: initial
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--body__Wcgrh .Splash_symptom-chips__jVK5T {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    max-width: 750px;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 50px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw {
    text-align: center
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_reason__i19qt,
:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips-header__Z0WPx {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(36, 42, 69, .8);
    margin-bottom: 15px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_explanation__97cU0,
:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips__80b-g {
    font-weight: normal;
    font-size: 16px;
    color: rgba(56, 60, 78, .78);
    opacity: .7;
    max-width: 450px;
    margin: 0 auto
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips-header__Z0WPx {
    width: 100%;
    text-align: start;
    text-transform: none;
    letter-spacing: inherit
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips__80b-g {
    justify-content: left;
    text-align: start;
    max-width: 1000px;
    margin-top: 1rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips__80b-g ul {
    list-style: none
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips__80b-g ul li::before {
    content: "•";
    color: #4062bb;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.25rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips__80b-g ul.Splash_dashed__LxXFe li::before {
    content: "–";
    color: rgba(56, 60, 78, .78);
    width: 1em;
    margin-left: -1em;
    font-size: 1.25rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips__80b-g li {
    margin-bottom: 1em;
    margin-right: 10px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips-column__2nwgZ {
    flex: 1 1 256px;
    text-align: start
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips-icon__td4zQ {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #4062bb;
    opacity: 1;
    font-weight: bold
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--footer__A8jsw .Splash_tips-icon__td4zQ>svg {
    height: 240px;
    width: 240px;
    margin-right: 10px;
    padding-bottom: 12px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz {
    display: flex;
    flex-direction: column
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-header__FxlkJ {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-bottom: 42px;
    justify-content: space-between;
    flex-wrap: wrap
}

@media(max-width: 575.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-header__FxlkJ {
        margin-top: 2rem;
        justify-content: center;
        flex-direction: column
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_title__5EOR1 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(36, 42, 69, .8);
    min-height: 24px;
    margin-left: auto;
    margin-right: auto
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter--buttons__M5P5P {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-title__i5Ar3 {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #242a45;
    opacity: .5;
    margin-right: 24px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-button__1XpOP {
    background: #fff;
    padding: 11px 27px;
    border: 1px solid #e5eafe;
    box-sizing: border-box;
    border-radius: 90px;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #697cc5;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0;
    outline: initial;
    cursor: pointer
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-button__1XpOP:not(:last-child) {
    margin-right: 1rem
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-button__1XpOP.Splash_selected__b2kWD {
    background: #ebedff;
    border: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-description__GkHBq {
    flex: 1 1;
    font-size: 13px;
    max-width: 430px
}

@media(max-width: 1199.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-description__GkHBq {
        min-width: 100%
    }
}

@media(max-width: 575.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_filter-description__GkHBq {
        padding: 0 2rem
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results__BCA9k {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly
}

@media(max-width: 1199.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results__BCA9k {
        flex-direction: column
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 {
    display: flex;
    flex-direction: column;
    padding-left: 96px;
    padding-bottom: 24px
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 {
        padding-left: 35px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_results-title__3PAfb {
    font-weight: bold;
    font-size: 22px;
    color: rgba(36, 42, 69, .8);
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_results-title--text__NWLzY {
    margin-left: 17px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_result__VR4tY {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: row
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_result__VR4tY a {
    color: #4062bb;
    opacity: .9
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_result__VR4tY .Splash_share-icon__nT1-H>svg {
    margin-left: 10px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_result__VR4tY .Splash_see-tag__GT6Hz {
    font-weight: 300
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_result__VR4tY .Splash_no-wrap__To5eI {
    white-space: nowrap
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_results-col__kVvb9 .Splash_result__VR4tY .Splash_wrap__TxDdS {
    white-space: normal
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_indicator__rGP8T {
    font-size: 20px;
    position: relative;
    margin-left: 10px;
    bottom: 1px;
    pointer-events: none
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_indicator__rGP8T.Splash_red-flag__wa1EL {
    color: #e94156;
    align-items: center;
    display: flex
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--results__civGz .Splash_indicator__rGP8T.Splash_common__AjcwY {
    color: #51cb33;
    align-items: center;
    display: flex
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--disclaimer__UVeJR {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 48px 20px;
    text-align: center;
    background: #f8f8f8
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--disclaimer__UVeJR .Splash_title__5EOR1 {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(56, 60, 78, .78);
    opacity: .8;
    margin-bottom: 15px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_splash--disclaimer__UVeJR .Splash_text__CVjMX {
    font-size: 13px;
    color: rgba(56, 60, 78, .78);
    opacity: .7
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_learn-more__7qfFZ {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3a3f58;
    opacity: .5;
    width: 216px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    white-space: pre;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    font-weight: 800
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_learn-more__7qfFZ.Splash_other__xA5vp {
    bottom: initial !important
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_learn-more__7qfFZ.Splash_other__xA5vp {
    position: relative;
    margin-top: 8rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    left: initial
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_learn-more__7qfFZ :first-child {
    width: 60px;
    height: 24px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF {
    padding: 60px 0;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    cursor: pointer
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF {
        flex-flow: column
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-question__Cw\+pu {
    padding: 0 60px 0 0;
    font-weight: bold;
    color: rgba(36, 42, 69, .8)
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-question__Cw\+pu>h2 {
    font-size: 18px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-answer__-Dmhw {
    padding: 0;
    font-size: 16px;
    color: rgba(36, 42, 69, .6);
    margin-right: 60px;
    -webkit-user-select: none;
    user-select: none;
    cursor: initial
}

@media(max-width: 767.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-answer__-Dmhw {
        padding-top: 1rem
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-button__7O983 {
    position: absolute;
    right: 20px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-button__7O983 svg {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_faq__KotzF .Splash_faq-button__7O983.Splash_expanded__981\+U svg {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_contact-us__jXRN7 {
    margin-top: 44px;
    text-align: center;
    justify-content: center
}

@media(min-width: 1200px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_contact-us__jXRN7 {
        margin-left: auto;
        margin-right: auto
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_contact-us__jXRN7 .Splash_contact-us-title__6\+Xk7 {
    font-weight: 600;
    font-size: 22px;
    color: #242a45;
    margin-bottom: 21px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_contact-us__jXRN7 .Splash_contact-us-button__SzLG\+ {
    font-weight: bold;
    font-size: 13px;
    color: #fff
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_contact-us__jXRN7 .Splash_contact-us-button__SzLG\+ :first-child {
    margin-left: 1rem;
    margin-bottom: 2px
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_page-splash__260UL {
    background: #fff
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_icon__aOskx {
    margin-top: 64px
}

@media(max-height: 800px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_icon__aOskx {
        margin-top: 20px
    }
}

:not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_autocomplete__JQnIy {
    max-width: 512px;
    min-width: 500px
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_autocomplete__JQnIy {
        min-width: initial;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

@media(max-width: 991.98px) {
    :not(#\9):not(#\9):not(#\9):not(#\9):not(#\9):not(#\9) .Splash_condition-filter__6UPam>div {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

/*# sourceMappingURL=6456.fad24dcf.chunk.css.map*/